<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>Review a Restaurant that you have visited</h2>
    <form action="/create-review" method="post">
        <label for="restaurant">Restaurant Name: </label><br>
        <input type="text" name="restaurant">
        <br><br>
        <label for="review">Your Review</label><br>
        <textarea type="text" name="review" cols="50" rows="10"></textarea>
        <br><br>
        <button type="submit">Submit</button>
    </form>
    <br><br>
    <h2>Your Restaurant Reviews</h2>
    <table>
        <tr>
            <th>Id</th>
            <th>Restaurant</th>
            <th>Review</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        {% for item in data %}
        <tr>
            <td>{{item['id']}}</td>
            <td>{{item['restaurant']}}</td>
            <td>{{item['review']}}</td>
            <td><a href="/update/{{item['id']}}">Edit</a></td>
            <td><a href="/delete/{{item['id']}}">Delete</a></td>
        </tr>
        {%endfor%}
    </table>
</body>

</html>